#First{
    color: rgb(100, 155, 255);
    text-align: center;
}

body {
  background-color: lightblue;
}

p {
  color: black;
  text-align: center;
}

h3{
  color:darkolivegreen
}
 



