#First{
    color: rgb(100, 155, 255);
    text-align: center;
}

body {
  background-color: lightblue;
}

p {
  color: black;
  text-align: center;
}

h3 {
  color:darkolivegreen;
  text-align: center;
}

table, th, td {
  border:1px solid;
}

table, th, td {
  text-align: center;
}

#beach {
  text-align: center;
}

table, th, td, tbody {
  text-align: center;
}
